<!DOCTYPE html>
<html>
  <head>
    <%- include('header') -%>
    <title>Order Confirmed</title>
		<link rel='stylesheet' href='https://unpkg.com/papercss@1.8.3/dist/paper.css' />
  </head>
  <body>
    <h1>Thank you!</h1>
    <p>Your order has been placed</p>
    <button class="btn-block" onclick="window.location.href='/'">Return To Home Page</button>
  <%- include('footer') -%>