	<!-- footer code -->
<script>
    window.userLoggedIn = false;

    function isLoggedIn(){
      let accessToken = localStorage.getItem("access");
      if(accessToken != null){
        // if there is an access token in localstorage
        window.userLoggedIn = true;
      }
      if(window.userLoggedIn){
            let loginLink = document.getElementById("auth-link");
            loginLink.innerHTML = "logout";
            loginLink.href = "/";
            loginLink.onclick = ()=>{ 
              localStorage.removeItem("access")
              localStorage.removeItem("refresh")
              window.userLoggedIn = false;
            }
        }
    }
</script>
</body>
</html>