<html>
	<head>
		<!-- css and js libraries go here -->
	</head>
	<body>
		<a href="/" id="home">home</a>
		<a href="/login" id="auth-link">Login</a>
		<a href="/shoppingBasket" id="basket">Shopping Basket</a>
		<a href="/register" id="register">register </a>
		<a href="/orders" id="orders">Orders</a>