<html>
    <head>
			<title>products Page</title>
            <%- include('header') -%>
    </head>
    <body>
        <script>
                window.onload = ()=>{
        isLoggedIn();
      }
        </script>
    </body>
    <%- include('footer') -%>