<html>
    <head>
			<title>products Page</title>
            <%- include('header') -%>
    </head>
    <body>
        <div id="list" class="container card margin-large" style="width: 30rem;">
        
        </div>
    <script>        
        fetch("http://127.0.0.1:8000/api/products")
            .then(resp => resp.json())
            .then(data => {
                data.forEach(element => {
                    // create a li element for each 
                    console.log(element);
                    let tmpLi = document.createElement("li");
                    let link = document.createElement("a");
                    let img = document.createElement("img");
                    let br = document.createElement("br");
                    link.innerHTML = element['name']; // <a>Bread</a>
                    img.src = element['image'];
                    // /products?id=x
                    let productStr = "/productindividual?id=" + element['id'];
                    tmpLi.appendChild(link);
                    console.log(productStr);
                    link.href = productStr;
                    document.getElementById("list").appendChild(tmpLi)
                    document.getElementById("list").appendChild(img)
                    document.getElementById("list").appendChild(br)
                });
            })
            window.onload = ()=>{
        isLoggedIn();
      }
    </script>
<%- include('footer') -%>