<%- include('header') -%>
<body>
    <br>
    <br>
    <div id="main" class="border border-primary padding-small">

    </div>
    <div class="row">
        <div class="col-6 col">
          <button class="btn-block" onclick="window.location.href='/checkout'">Order</button>
        </div>
    </div>
<script>
    function displayCard(product_info){
        let token = localStorage.getItem("access");
        let quantity = product_info['quantity'];
        let price = product_info['price'];
        let productid = product_info['product_id'];
        fetch("http://127.0.0.1:8000/api/products/" + productid)
        .then(resp => resp.json())
        .then(data => {
            console.log(data);
            let name = data['name'];
            let desc = data['description'];
            let img = data['image'];

            let htmlString = "<div> <h1>"+name+"</h1><p>"+desc+"<br><p>Price: "+price+"<br><p> Quantity: " + quantity +"</p></p><img src='"+img+"'></img></div>"
            let maindiv = document.getElementById("main");
            let innerHTML = maindiv.innerHTML
            maindiv.innerHTML =  innerHTML+htmlString;

            let removeFromCart = document.createElement("button");
            removeFromCart.innerHTML = "Remove From Cart";
            removeFromCart.id = "button-"+data['id'];
            document.getElementById("main").appendChild(removeFromCart);
            console.log("zfklglsdfgflks");
            let butt = document.getElementById("button-"+data['id']);
            butt.onmousedown = function(){
                console.log("HELLO")
                fetch("http://127.0.0.1:8000/apiremove/", {
                    'method':'POST',
                    'headers':{
                        "Accept": "application/json",
                        "Content-Type": "application/json",
                        'Authorization': 'Bearer '+ token
                    },
                    'body': JSON.stringify({"product_id": parseInt(productid) })
                })
                .then(resp => resp.json())
                .then(data => {
                    window.location.reload()
                })
            }
        })
    }

    function buildCardPage(){
        let token = localStorage.getItem("access");
        if(token == null){
            window.location = "/login";
        }
        else
        {
            fetch("http://127.0.0.1:8000/api/basket", {
                'method':'GET',
                'headers':{
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                    'Authorization': 'Bearer '+token
                }
            })
            .then(resp => resp.json())
            .then(data => {
                let basket = data[0];
                let id = basket['id'];
                let items = basket['items'];
                console.log(data);
                if(items.length == 0)
                {
                    let d = document.createElement("p")
                    d.innerHTML = "Your basket is empty"
                    document.getElementById("main").appendChild(d)
                }
                items.forEach(element => {
                    console.log("element: " + element);
                    displayCard(element);
                });
            });
        }
    }
    window.onload = ()=>{
        isLoggedIn();
        buildCardPage();
      }
</script>
</body>
<%- include('footer') -%>